/* Sticky footer styles
-------------------------------------------------- */
@font-face {
    font-family: "OpenSans-Regular"; 
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Bold"; 
    src: url("fonts/OpenSans-Bold.ttf"); 
}
@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("fonts/OpenSans-ExtraBold.ttf"); 
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
}

.opensans-regular-14 {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #505050;
}
.opensans-regular-18 {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #ffffff;
}


.opensans-bold-30 {
     font-family: OpenSans-Regular;
     font-size: 30px;
     color: #505050;
 }

.opensans-extrabold-30 {
    font-family: OpenSans-ExtraBold;
    font-size: 30px;
    color: #ffffff;
}

.opensans-bold-30 {
    font-family: OpenSans-Bold;
    font-size: 30px;
    color: #505050;
}


html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 216px;
}
h1 {
    font-family: OpenSans-Bold;
    font-size: 16px;
    color: #505050;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2 {
    font-family: OpenSans-Bold;
    font-size: 14px;
    color: #505050;
    margin-top: 0px;
    margin-bottom: 0px;
}

.errors {
    color: red;
}

.content-text {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #505050;
}

.content-text a {
    color: #505050;
}

.content, .header-content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.top-mobile-menu { height: 48px; background-color:  rgb(80, 80, 80); margin-bottom: 20px; padding-left: 0;}
.header-top {padding-top: 10px; }
.logo { text-align: center; }
.title-text { padding-top: 0px; padding-left: 0; padding-right: 10px;}
.organization-name { margin-top: 5px;}
.head-contacts { padding-top: 18px;}

.head-contacts {
    font-family: Tahoma;
    font-size: 12px;
    color: #505050;
    max-width: 485px;
}

.head-contacts  .email {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 12px;
    color: #505050;
    margin-top: -5px;
}

.head-contacts div {
    padding-left: 5px;
    padding-right: 5px;
}

.head-contacts div a {
    color: #505050;
}

.head-contacts .ya-img-icon {
    margin-left: 10px;
}

.search-field {
    margin-left: -20px;
    /*padding-right: 55px;*/
    margin-top: 22px;
}

.search-field input[type='text'] {
    float: left;
    height: 34px;
    background: #f5f5f5;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 1px;
    max-width: 470px;
    font-size: 14px;
}

.search-field input[type='button'] {
    float: left;
    margin-left: -34px;
    border: none;
    background: url("../images/search.png");
    width: 34px;
    height: 34px;
}

.main-menu {
    font-family: OpenSans-Bold;
    font-size: 11px;
    color: #ffffff;
    background-color: rgb(80, 80, 80);
    margin-top: 7px;
    text-align: center;
}

.main-menu ul {
    margin: 0;
    padding: 0;
}

.main-menu a { color: #ffffff; text-decoration: none;}

.main-menu ul li {
    list-style-type: none;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
    margin-left: -.36em;
}

.main-menu ul li:hover {
    background: rgb(238, 50, 49);
}

.carousel-caption { text-shadow: none; }

.carousel-control.left, .carousel-control.right { background-image: none; background: none; width: 4%; }

#main-carousel img { height: 366px; max-height: 366px; min-height: 366px; width: 1280px; min-width: 1280px; max-width: 1280px }
#main-carousel .carousel-caption {text-align: left;top: 20px; left: 95px;  }
#main-carousel .carousel-caption h3, .carousel-caption p, .carousel-caption a { margin-bottom: 20px; margin-top: 20px }
#main-carousel .carousel-caption a { padding: 10px; text-decoration: none; color: white; font-family: OpenSans-Bold; font-size: 16px; }
#main-carousel .glyphicon-chevron-left:before, .glyphicon-chevron-right:before { content: '' }
#main-carousel .left .glyphicon-chevron-left { position: absolute; left: 0px; margin-left: 0px;}
#main-carousel .right .glyphicon-chevron-right { position: absolute; right: 0px; margin-right: 0px}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev { top: calc(50% - 15px)}

.left-menu-container { padding-right: 20px; padding-left: 20px; padding-right: 20px; margin-top: 20px; }
.left-menu { border-left: 1px solid rgb(245, 245, 245); border-right: 1px solid rgb(245, 245, 245); border-bottom: 1px solid rgb(245, 245, 245); padding-left: 0; margin-left: 35px; }
.left-menu li { list-style-type: none; border-top: 1px solid rgb(211, 211, 211); padding-left: 20px; padding-top: 9.5px; padding-bottom: 10px; }
.left-menu li a, .left-menu li.active {  font-family: OpenSans-Regular; font-size: 11px; color: #2c2c2c; text-decoration: none; }
.left-menu li.active {  font-family: OpenSans-Bold; font-size: 11px; color: #2c2c2c; }
.left-menu li sup { font-family: OpenSans-ExtraBold; font-size: 8px; color: #ee3231; margin-left: 1px;}
.mobile-left-menu-icon { padding-bottom: 10px; cursor: pointer; }

.central-banner-container { max-width: 860px; margin-top: 20px; padding-right: 0px; }
#central-carousel img { height: 440px; max-height: 440px; min-height: 440px; max-width: 860px; object-fit: cover;object-position: 0% 0%; }
#central-carousel .carousel-caption {text-align: left; top: -20px; left: 65px;  }
#central-carousel .carousel-caption h3, .carousel-caption p, .carousel-caption a { margin-bottom: 20px; margin-top: 20px }
#central-carousel .carousel-caption a { padding: 10px; text-decoration: none; color: white; font-family: OpenSans-Bold; font-size: 16px; }
#central-carousel .glyphicon-chevron-left:before, .glyphicon-chevron-right:before { content: '' }
#central-carousel .left .glyphicon-chevron-left { position: absolute; left: 0px; margin-left: 0px;}
#central-carousel .right .glyphicon-chevron-right { position: absolute; right: 0px; margin-right: 0px}

.our-client-slider-label {
    margin-top: 0px;
}

.our-clients-container {
    margin-left: 0; margin-right: 0;
}
.our-client-slider-label ul {
    list-style-type: none;
    padding-left: 6px;
}

.our-client-slider-label ul li {
    background: rgb(80, 80, 80) url("../images/our-clients-label-bg.png") right -1px no-repeat;
    font-family: OpenSans-Bold;
    font-size: 12px;
    color: white;
    height: 80px;
    line-height: 80px;
}

/*rgb(245, 245, 245)*/
.main-client-carousel-container { max-width: 861px; }
.jcarousel { padding-right: 35px; padding-left: 35px; border: 1px solid rgb(211, 211, 211); margin-right: -10px;}
.jcarousel-on-page { padding-right: 0px; padding-left: 0px; }
.slick-left { width: 42px; }
.slick-left .glyphicon:before { content: " " }
.slick-right { width: 20px; right: 0; left: auto; }
.slick-right .glyphicon:before { content: " " }
.main-client-carousel-container .carousel-control .glyphicon-chevron-left, 
.main-client-carousel-container .carousel-control .glyphicon-chevron-right, 
.main-client-carousel-container .carousel-control .icon-next, 
.main-client-carousel-container .carousel-control .icon-prev { top: calc(50% - 8px)}


.product-carousel .carousel-control .glyphicon-chevron-left, 
.product-carousel .carousel-control .glyphicon-chevron-right { top: calc(50% - 10px)}

.footer {
    height: 206px;
    background-color: rgb(80, 80 ,80);
    border-top: 4px solid rgb(49, 49, 49);
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #ffffff;
}

.footer span, .footer a {
    display: block;
}

.footer .footer-header {
    font-family: OpenSans-Bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer .footer-link {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #ffffff;
}

.footer .footer-link:hover {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.social-block a { display: inline; margin-right: 5px; }

.footer .footer-column2 {
    padding-top: 48px;
}

.catalog-popup {
    position: absolute;
    background-color: white;
    max-width: 1032px;
    z-index: 99;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
    display: none;
}
.catalog-popup table tr td { vertical-align: top; }
.catalog-popup .catalog-popup-item { float: left; margin-top: 10px; margin-bottom: 10px; }
.catalog-popup .catalog-popup-item-img { width: 70px; height: 70px; border: 1px solid rgb(241, 241, 241); padding: 2px; margin-top: 3px; margin-right: 25px; margin-left: 60px}
.catalog-popup .catalog-popup-item-img, .catalog-popup .catalog-popup-item-links { float: left; }
.catalog-popup .catalog-popup-item-links span, .catalog-popup .catalog-popup-item-links a { display: block; }
.catalog-popup .catalog-popup-item-links span { font-family: OpenSans-Bold; font-size: 12px; color: #505050 }
.catalog-popup .catalog-popup-item-links a { font-family: OpenSans-Regular; font-size: 12px; color: #505050; text-decoration: underline; }

.mobile-menu-popup { position: absolute; top: 48px; background: rgb(238, 50, 49); max-width: 322px; font-family: OpenSans-Bold; font-size: 18px; color: white; z-index: 99; display: none; }
.mobile-menu-popup a { font-family: OpenSans-Bold; font-size: 18px; color: white; padding-left: 32px; padding-right: 32px; }
.mobile-menu-popup a:hover { text-decoration: none; }
.mobile-menu-popup .mobile-menu-popup-list { list-style-type: none; padding-left: 0px; margin-left: 0; margin-bottom: 0; margin-top: 5px; }
.mobile-menu-popup .mobile-menu-popup-list li { border-bottom: 1px solid white; padding-top: 10px; padding-bottom: 10px;  }

.breadcrumbs {
    padding-left: 70px;
    padding-right: 20px;
    margin-top: 15px;
    display: block;
}
.breadcrumbs, .breadcrumbs li, .breadcrumbs a {
    font-size: 10px;
    font-family: OpenSans-Regular;
    color: #505050;
    text-decoration: none;
}
.breadcrumbs li.active {
    color: #ee3231;
}
.breadcrumbs li.devider {
    padding-left: 5px;
    padding-right: 5px;
}
.breadcrumbs li { display: inline-block; }

.breadcrumbs-container-mobile { border-top: 1px solid rgb(211, 211, 211);border-bottom: 1px solid rgb(211, 211, 211); padding-top: 13px; padding-bottom: 13px; padding-left: 50px; margin-bottom: 11px; }
.breadcrumbs-container-mobile .breadcrumbs { margin: 0; padding: 0; }

.left-menu-container-inner, .central-banner-container-inner { margin-top: 5px;}

.manager-outer-block { display: table; width: 100%; height: 100%; top: 0; left: 0; margin-left: 0; margin-right: 0; }
.manager-inner-block { display: table-cell; text-align: center; vertical-align: middle; }
.manager-item { padding: 20px; border: 1px solid #f5f5f5; display: inline-block; width: 210px; margin-bottom: 5px; }
.manager-item:last-child { margin-right: 0px; }

.manager-name {
    font-family: OpenSans-Bold;
    font-size: 14px;
    color: #505050;
    margin-top: 15px;
}

.manager-addition-info {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #505050;
}

.manager-item div:nth-child(3), .manager-item div:nth-child(5) {
    margin-top: 10px;
    text-decoration: underline;
}

.catalog .catalog-item { margin-top: 20px; }
.catalog .catalog-image { width: 150px; height: 150px; float: left; }
.catalog .catalog-info { float: left; width: calc(100% - 165px); margin-left: 15px; }
.catalog .catalog-info h3 { margin-top: 0px; font-family: OpenSans-Bold; font-size: 14px; color: #141414; }
.catalog .catalog-info ul { list-style-type: none; padding-left: 0; }
.catalog .catalog-info ul li { display: inline-block; margin-right: 30px; }
.catalog .catalog-info ul li a { font-family: OpenSans-Regular; font-size: 13px; color: #505050; }
.catalog .catalog-info .catalog-hr { height: 1px; border-top: 1px solid rgb(211, 211, 211); margin-top: 20px; margin-bottom: 20px; }
.catalog .catalog-description { font-family: OpenSans-Regular; font-size: 13px; color: #505050; }
.catalog .catalog-description-md { margin-top: 20px; }

.another-items { list-style-type: none; float: left; padding-left: 0px; }
.another-items li { display: inline-block; margin-left: 40px;}
.another-items li a { text-decoration: none; font-family: OpenSans-Regular; font-size: 13px; color: #505050;}

.product-header { float: left; }
.slider-product-nav-container { position: relative; }
#slider-product-nav { margin-top: 4px;  }
#slider-product-nav .slick-slide { margin-left: 5px; margin-right: 5px; width: 245px; }
.slider-product-nav-container .slick-left { width: 20px; }

.product-item-description { margin-top: 30px; margin-bottom: 30px; font-family: OpenSans-Regular; font-size: 13px; color: #505050;  }
.product-item-description h2 { color: #141414; }
.product-item-description table tr td { padding-bottom: 10px; vertical-align: top; }
.product-item-description table tr td:first-child { font-family: OpenSans-bold; }
.product-item-description table tr td:nth-child(2) { padding-left: 10px; }

.textpage-headers { list-style-type: none; padding-left: 0; }
.textpage-headers div { float: left; padding: 10px 15px 10px 15px; background: rgb(229, 230, 232);margin-right: 2px; }
.textpage-headers div a { font-family: OpenSans-Regular; font-size: 13px; color: #505050; }
.textpage-headers div a:hover { text-decoration: none; }
.textpage-headers div.active { background: rgb(211, 213, 214); }
.textpage-headers div.active a { font-family: OpenSans-Bold; }
.text-content { margin-top: 15px; text-decoration: none; font-family: OpenSans-Regular; font-size: 13px; color: #505050; max-width: 753px; }

.catalog-left-container { margin-top: 10px; padding-left: 0; }
.catalog-left-item { 
    display: inline-block; 
    max-width: 388px; 
    -webkit-box-shadow: 10px 10px 24px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -6px rgba(0,0,0,0.75); 
}
.catalog-left-item { margin-right: 10px; margin-bottom: 10px;}
.catalog-left-item .catalog-left-header { font-family: OpenSans-ExtraBold; font-size: 12px; color: #ffffff; margin-top: -22px; margin-left: 30px; }
.catalog-left-item .catalog-left-product { margin: 10px; }
.catalog-left-item .catalog-left-product td { padding-right: 15px; }
.catalog-left-item .catalog-left-product td a { text-decoration: none; font-family: OpenSans-Regular; font-size: 13px; color: #505050; }
.catalog-left-item .catalog-left-product td a:hover { text-decoration: underline; }

.searched-products, .searched-categories, .searched-text { font-family: OpenSans-Regular; font-size: 13px; color: #505050; }
.searched-categories { margin-top: 10px; }
.searched-categories ul { list-style-type: none; padding-left: 0; }
.searched-categories ul li { display: inline-block; }
.searched-categories ul li, .searched-categories ul li a { font-family: OpenSans-Bold; font-size: 13px; color: #505050;  }

.searched-products .searched-product-item { text-align: center; padding: 5px 2px 25px 5px; display: inline-block; border: 1px solid rgb(198, 198, 198); margin: 0 5px 10px 0; }
.searched-products .searched-product-item span { font-family: OpenSans-Bold; font-size: 14px; color: #505050; }

.searched-text .searched-text-item h3 a, .searched-text .searched-text-item p a { color: #505050;}


.client-block .carousel-container-on-page { padding-right: 0; padding-left: 0; margin-bottom: 20px; margin-top: 10px; }
.client-block .jcarousel-on-page {
        -webkit-box-shadow: 6px 6px 9px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 6px 9px 0px rgba(0,0,0,0.75);
        box-shadow: 6px 6px 9px 0px rgba(0,0,0,0.75);
}

.client-block .carousel-container-on-page .slick-left { width: 23px; }
.client-block .carousel-container-on-page .slick-right { width: 2px; }
.client-block .carousel-container-on-page .slick-slide { margin-right: 1px; margin-left: 1px; }
.client-info { display: table; }
.client-block .client-name { vertical-align: middle; display: table-cell; width: 34%; font-family: OpenSans-Bold; font-size: 24px; color: #505050; text-align: right; padding-right: 10px; border-right: 1px solid rgb(211,211,211); }
.client-block .client-description { display: table-cell; width: 65%; font-family: OpenSans-Regular; font-size: 14px; color: #505050; padding-left: 10px; }
.client-block hr { margin-top: 10px; margin-bottom: 15px; }
.pagination { margin-top: 0px; }

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.form-send-makets, .form-send-success { margin-top: 10px; }
.form-send-makets .panel-heading, .form-send-success .panel-heading { background-color: rgb(80, 80, 80); color: #ffffff; font-family: OpenSans-Bold; font-size: 14px; border-bottom: 4px solid rgb(180, 25, 5); }
.form-send-success { display: none; }
.form-send-success .panel-body { text-align: center; }
.form-send-success .panel-body p { margin-bottom: 0px; }
.form-send-success .panel-body a { margin-top: 10px; }

.dropdown-menu li:hover, .dropdown-menu li a:hover  {
    background: transparent !important;
}

.order-form .form-control {
    height: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (min-width: 992px) {
    .header-top {
        position: fixed;
        width: 100%;
        z-index: 99;
    }
    .content {
        padding-top: 192px;
    }
    .header-top {
        background: #ffffff;
    }
    
}

@media (max-width: 1199px) {
    .head-contacts {
        padding-left: 0px;
        margin-left: -10px;
        padding-top: 11px;
    }
}

@media (max-width: 991px) {
    #main-carousel {
        margin-top: 20px;
    }

    .footer { height: 300px; }
    body { margin-bottom: 320px; }
    .footer .footer-column2 { padding-top: 0px; }

    .catalog .catalog-info ul li { display: block; }

    .product-header { float: none; }
    .another-items { margin-top: 10px;}
    .another-items li { display: block; margin-left: 0;}

}

@media (min-width: 768px) and (max-width: 884px) {
    .title-text {
        font-size: 13px;
        margin-left: -25px;
        /*width: 36%;*/
    }
}
@media (min-width: 767px) { 
    .breadcrumbs-container { display: block; }
    .breadcrumbs-container-mobile { display: none; }
    .breadcrumbs-container-mobile-clear { display: none; }
    .product-carousel, #slider-product { width: 753px; }
}

@media (max-width: 767px) {
    .central-banner-container { margin-top: 0px; }

    .title-text {
        font-size: 14px;
        display: inline-block;
        text-align: left;
        vertical-align: top;
        margin-left: 20px;
    }
    .mobile-logo {
        display: inline-block;
        vertical-align: top;
    }

    .mobile-header-contacts {
        font-family: Tahoma;
        font-size: 12px;
        color: #505050;
        margin-top: 30px;

    }
    .mobile-header-contacts span {
        padding-right: 15px;
    }
    .mobile-header-contacts span a  {
        color: #505050;
    }
    .mobile-header-contacts span:last-child {
        padding-right: 0px;
    }

    .mobile-header-contacts .email {
        font-family: Tahoma;
        font-weight: bold;
        font-size: 12px;
        color: #505050;
    }
    .mobile-header-contacts .ya-img-icon {
        margin-left: 23px;
    }

    .search-field {
        margin-left: auto;
        max-width: 450px;
    }

    .left-menu-container {
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 10px;
    }

    .left-menu {
        margin-left: 0px;
        border-bottom: none;
    }
    .left-menu li:last-child {
        padding-left: 0px;
    }
    .central-banner-container { padding-left: 0px; }

    .our-client-slider-label { margin-top: 0px; }
    .our-client-slider-label ul { padding-left: 0; margin-bottom: 0; }
    
    .main-client-carousel-container { padding-left: 0px; }
    .slick-left { width: 20px; }

    .footer { height: 1000px; /*height: auto;*/ text-align: center }
    body { margin-bottom: 1020px; }
    .footer .footer-header { font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid rgb(49, 49, 49); cursor: pointer; }
    .footer .footer-link { padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid rgb(49, 49, 49); }
    .footer-contacts-block .footer-header, .footer-contacts-block .footer-link { border-bottom: none}
    .footer .col-xs-12 { padding-left: 0px; padding-right: 0px;}
    .footer .glyphicon { display: inline-block; margin-left: 10px; top: 3px; }
    .footer-column1, .footer-column2, .footer-column1-information { height: 0; display: none; }

    .central-banner-container-inner { padding-right: 50px; padding-left: 50px;}

    .breadcrumbs-container { display: none; }
    .breadcrumbs-container-mobile { display: block; }
    .breadcrumbs-container-mobile-clear { display: block; }

    .slider-product-nav-container { display: none; }  

    /*.product-item-description *:not(hr) { margin-left: 50px; margin-right: 50px;}  */
    .product-item-description { padding-left: 50px; padding-right: 50px;}  
    
    .text-content img { display: none; }
}



@media (max-width: 500px) {
    #main-carousel .carousel-caption  .opensans-extrabold-30 { font-size: 20px }
    #main-carousel .carousel-caption  .opensans-regular-18 { font-size: 14px; }
    .central-banner-container-inner-padding-10 { padding-left: 10px; padding-right: 10px;}
}

@media (max-width: 479px) {
    .mobile-header-contacts div span:nth-child(2):after {
        content: " ";
        display: block;
    }
    .mobile-header-contacts .ya-img-icon {
        margin-left: 10px;
        margin-top: 2px
    }

}

@media (max-width: 419px) {
    .title-text {
        font-size: 13px;
    }
}

@media (max-width: 380px) {
    #main-carousel .carousel-caption  .opensans-extrabold-30 { font-size: 16px }
    #main-carousel .carousel-caption  .opensans-regular-18 { font-size: 14px; }
    #main-carousel .carousel-caption a { font-size: 12px; }
    .catalog-left-item .catalog-left-header { margin-top: -20px; }
}

@media (max-width: 340px) {
    .catalog-left-item .catalog-left-header { margin-top: -19px; }
}

@media (max-width: 320px) {
    .catalog-left-item .catalog-left-header { margin-top: -18px; }
}